@import url('https://fonts.googleapis.com/css2?family=Allerta&display=swap');

* {
    background-color: #005B52;
    font-family: "Allerta", sans-serif;
}

.title-pelicula {
    color: #F2C94C;
    font-size: 24px;
    text-align: center;
}

.date-pelicula {
    color: #FFFFFF;
    font-size: 18px;
    text-align: center;
}
.mapa-asientos
{
    display: grid;
    grid-template-columns: repeat(10, 0fr);
    justify-content: center;
    margin-top: 15px;
}

.asiento {
    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
    color: #FFFFFF;
    border-radius: 25%;
    margin: 5px;
    font-size: 13px;
    align-content: center;
    text-align: center;

    &.selected {
        background-color: #F2C94C;
    }

    &:hover {
        background-color: #F2C94C;
        cursor: pointer;
    }
}

#disponible,
#ocupado,
#seleccionado {
    align-items: center;
    display: flex;
    margin: 8px;
    color: #FFFFFF;
}

#asiento__ocupado {
    cursor: not-allowed;
    background-color: #1F293D;
}


#mapa {
    justify-content: center;
    text-align: center;
}

#fila-A,
#fila-B,
#fila-C,
#fila-D,
#fila-E,
#fila-F,
#fila-G,
#fila-H,
#fila-I,
#fila-J,
#fila-K,
#fila-L,
#fila-M,
#fila-N,
#fila-O,
#fila-P,
#fila-Q,
#fila-R,
#fila-S,
#fila-T,
#fila-U,
#fila-V,
#fila-W,
#fila-X,
#fila-Y,
#fila-Z,
#leyenda {
    width: 100%;
    display: flex;
    justify-content: center;
}

#fila-A {
    margin-top: 20px;
}


#ComprarAsientos,
#volverAtras {
    background-color: #F2C94C;
    margin: 10px;
    font-size: 15px;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    margin-top: 20px;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
}