@import '../base/variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.detalles-pelicula {
    font-family: Arial, sans-serif;
    background-color: #0F645C;
    color: #FFF;
    display: block;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.movie-details {
    width: 100%;
    //max-width: 400px;
    padding: 1rem;
    background-color: #0F645C;
    border-radius: 10px;
    text-align: center;
    color: #FFF;

    &__title {
        font-size: 25px;
        color: #FFB800;
        margin-bottom: 1.2rem;
        text-align: center;
    }

    &__poster {
        width: 100%;
        max-width: 250px;
        border-radius: 10px;
        margin-bottom: 1rem;
    }

    &__description {
        font-size: 1rem;
        color: #E0E0E0;
        margin-bottom: 1.2rem;
        line-height: 1.6;
    }

    &__button {
        justify-self: center;
        background-color: #FFB800;
        border: none;
        border-radius: 5px;
        padding: 0.8rem 1.2rem;
        font-size: 1.1rem;
        color: #0D3D3B;
        font-weight: bold;
        cursor: pointer;
        width: 200px;
        // margin-top: 1.2rem;
        margin-bottom: 10px;
        

        &:hover {
            background-color: #E5A800;
        }
    }
}

.movie-info {
    font-size: 1rem;
    margin-bottom: 1.2rem;
    display: grid;

    &__item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.7rem;
    }

    &__label {
        color: #9EB3B0;
    }

    &__value {
        color: #FFF;
    }
}

/* Estilos para escritorio */
@media (min-width: 768px) {
    .movie-details {
        display: flex;
        align-items: flex-start;
        text-align: left;
        padding: 5rem;

        &__poster {
            max-width: 400px;
            margin-right: 2rem;
            margin-bottom: 0;
        }

        &__title {
            font-size: 2.2rem;
        }

        &__description {
            font-size: 25px;
        }

        &__button {
            padding: 1rem 1.5rem;
            font-size: 1.2rem;
            margin-top: 1.2rem;
            // position: relative;
            bottom: 155px;
        }
    }

    .movie-info {
        font-size: 1.1rem;
        width: 100%;
        margin-top: 100px;
        // margin-right: 125px;

        &__label {

            margin-right: 30px;
        }
    }
}
@media (min-width: 600px) {
    .movie-details {
        padding: 2rem;
        text-align: center; 
        // flex-direction: column; 
        align-items: center;

        &__poster {
            max-width: 300px; 
            margin-bottom: 1rem;
        }

        &__title {
            font-size: 1.8rem; 
            margin-bottom: 1.5rem;
        }

        &__description {
            font-size: 1rem;
            margin-bottom: 1.5rem;
            line-height: 1.5; 
            margin-left: 10%;
        }

        &__button {
            font-size: 1rem;
            padding: 0.8rem 1.2rem;
            // width: 50%;
            // margin-top: 20%;
    
        }
    }

    .movie-info {
        font-size: 1rem;
        margin-top: 2rem;
        width: 90%; 
        text-align: left;

        &__item {
            margin-left: 10%;
        }

        &__label {
            margin-bottom: 0.5rem; 
            color: #9EB3B0;
            font-size: 0.9rem;
        }

        &__value {
            color: #FFF;
            font-size: 1rem;
        }
    }
}
