@import url("https://fonts.googleapis.com/css2?family=Allerta&display=swap");
@import '../base/variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Allerta", sans-serif;
}

body {
    background-color: #0F645C;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}


.container-home {
    width: 100%;
}

.header {
    background-color: #083D38;
    color: #fff;
    display: flex;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;

    &__logo {
        font-size: 2.5rem;
    }


}

.banner__carousel-slide {
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 600px;
}

.banner {
    text-align: center;
    margin: 1rem 0;

    &__title {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    &__carousel {
        display: flex;
        transition: transform 0.5s ease-in-out;
        width: 100%;
    }

    &__carousel-slide {
        min-width: 100%;
        box-sizing: border-box;
        text-align: center;

        .movie-poster {
            width: 100%;
            max-width: 300px;
            border-radius: 10px;
            margin: 0 auto;
        }

        .movie-title {
            font-weight: bold;
            margin-top: 0.5rem;
            color: #FFF;
        }
    }

    &__carousel-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        padding: 0.5rem;
        cursor: pointer;
        font-size: 1.5rem;

        &--prev {
            left: 10px;
        }

        &--next {
            right: 10px;
        }
    }
}
.movie-title{
    width: 250px;
}

.movies-section {
    &__title {
        font-size: 1.50rem;
        margin-bottom: 1rem;
        text-align: center;
        margin-top: 4%;
    }

    &__movies-list {
        justify-items: center;
        width: 75%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
        margin: auto;
    }

    &__movie {

        width: 100%;
        display: grid;
        justify-content: center;
        &:hover{
            cursor: pointer;
        }

        .movie-poster {
            background-position: center;
            background-size: cover;
            height: 360px;
            width: 240px;
            border-radius: 10px;
            margin-bottom: 0.5rem;

        }

        .movie-title {
            text-align: center;
            height: 48px;
            font-weight: bold;
            margin-bottom: 10px;
            font-size: 18px;
        }

        .movie-genre {
            font-size: 0.85rem;
            color: #9EB3B0;
        }
    }
}

.banner {
    text-align: center;
    margin: 1rem 0;
    position: relative;
    overflow: hidden;

    &__title {
        font-size: 1.5rem;
        margin-bottom: 2rem;
        text-align: center;
        margin-top: 10%;
        margin-bottom: 0%;
    }

    &__carousel {
        display: flex;
        transition: transform 0.5s ease-in-out;
        width: 100%;
    }

    &__carousel-slide {
        min-width: 90%;
        box-sizing: border-box;
        margin: 5%;
        text-align: center;

        .movie-poster {
            width: 100%;
            max-width: 300px;
            border-radius: 10px;
            margin: 0 auto;
        }

        .movie-title {
            font-weight: bold;
            margin-top: 0.5rem;
            color: #FFF;
        }
    }

    &__carousel-button {
        position: absolute;
        top: 55%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        padding: 0.5rem;
        margin-right: 4%;
        cursor: pointer;
        margin-left: 4%;
        font-size: 1.5rem;

        &--prev {
            left: 10px;
        }

        &--next {
            right: 10px;
        }
    }
}



/* Banner principal */
.banner {
    text-align: center;
}

/* Estilo para el footer */
.footer {
    background-color: #083D38;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10%;
    font-size: 14px;

    
    ul {
        list-style: none;
        padding: 0; 
        margin: 0; 
    }
}

.footer__column {
    width: 44%;
}

.footer__column h3 {
    margin-bottom: 10px;
}

.footer__column--legal .list-group-item {
    cursor: pointer; 
    transition: color 0.3s ease; 
}

.footer__column--legal .list-group-item:hover {
    color: #FFB800; 
}

.footer__column.footer__column--ubi {
    display: none;
}




//ofertas
.container-oferta {
    padding: 2rem;
    text-align: center;

    .banner__title {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 2rem;
    }

    grid-template-columns: repeat(2, 1fr); // Dos columnas
    gap: 1.5rem; // Espaciado entre columnas y filas

    .imagen__oferta {
        img {
            width: 65%;
            height: auto;
            border-radius: 0.5rem;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            margin: 5%;
        }
    }
}

/* Estilo del modal */
.modal {
    display: none;
    /* Oculto por defecto */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #083D38;
    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    text-align: center;
}

#modal-description{
    margin-top: 5%;
}

.close-button {
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover {
    color: #E5A800;
}


@media screen and (min-width: 768px) {
    .movies-section {
        &__movies-list {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    #boton {
        display: none;
    }

    .banner__carousel-slide {
        min-width: 0%;
        margin: 0;
    }

    .banner__title {
        font-size: 2.5rem;
        margin: 4%;

    }

    .movies-section__title {

        font-size: 2.50rem;
        margin-bottom: 1rem;
        text-align: center;
        margin-top: 4%;
        margin-bottom: 4%;
        font-size: 40px;
    }

    .container-oferta .imagen__oferta img {
        width: 80%;
        height: auto;
        border-radius: 0.5rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        margin: 5%;
        max-height: 850px;
    }

    .container-oferta{
        display: flex;
    }


    .footer {
        font-size: 16px;
    }

    .footer__column {
        width: 50%;
        list-style-type: none;
        text-align: center;
    }

    .footer__column.footer__column--ubi {
        display: block;
    }
    
}
@media screen and (min-width: 768px){
    /*
    body {
        flex-direction: column;
        justify-content: flex-start;
        padding: 1rem;
    }*/
/*
    .header {
        justify-content: center;
        padding: 10px 20px;
        width: 106%;
        margin-left: -2%;
        margin-top: -2%;

        &__logo {
            font-size: 2rem;
        }
    }*/

    .banner__carousel-slide {
        width: 100%;
        height: 400px;
    }

    .movies-section {
        &__movies-list {
            grid-template-columns: repeat(2, 1fr);
            gap: 1.5rem;
        }

        &__title {
            font-size: 2rem;
            margin: 2rem 0;
        }
    }

    .container-oferta {
        padding: 1rem;

        .imagen__oferta img {
            width: 70%;
            margin: 0 auto;
        }
    }

    .footer {
        font-size: 14px;
        padding: 10px;
        width: 104%;
        margin-bottom: -3%;

        .footer__column {
            width: 100%;
            margin-bottom: 1rem;
            text-align: center;
        }
    }

    .banner__title {
        font-size: 2rem;
    }
}
@media screen and (min-width: 1024px){
    .movies-section {
        &__movies-list {
            grid-template-columns: repeat(3, 1fr);
            gap: 1.5rem;
        }
    }
}
