@import url('https://fonts.googleapis.com/css2?family=Allerta&display=swap');
@import '../base/variables';

* {
    // background-color:#0F645C;
    font-family: "Allerta", sans-serif;
}
.title-pelicula {
    color: #F2C94C;
    font-size: 24px;
    text-align: center;
}

.date-pelicula {
    color: #FFFFFF;
    font-size: 18px;
    text-align: center;
}
.mapa-asientos__asientos
{
    display: grid;
    grid-template-columns: repeat(10, 0fr);
    justify-content: center;
    margin-top: 15px;
}
.mapa-asientos__pantalla{
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 12px;
    background-color: #1F293D;
    height: 20px;
}

.asiento {
    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
    color: #1F293D;
    border-radius: 25%;
    margin: 5px;
    font-size: 13px;
    align-content: center;
    text-align: center;

    &.selected {
        background-color: #F2C94C;
    }

    &:hover {
        background-color: #F2C94C;
        cursor: pointer;
    }
}
.mapa-asientos{
    text-align: -webkit-center;
}
.container-mapa{
    min-height: 72dvh;
}
#disponible,
#ocupado,
#seleccionado {
    font-size: 13px;
    align-items: center;
    display: flex;
    margin: 10px;
    color: #FFFFFF;
}

#asiento__ocupado {
    cursor: not-allowed;
    background-color: #1F293D;
}


#mapa {
    justify-content: center;
    text-align: center;
}

#leyenda {
    width: 100%;
    display: flex;
    justify-content: center;
}

#ComprarAsientos{
    background-color: #F2C94C;
    margin: 10px;
    font-size: 15px;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    margin-top: 20px;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
}
#volverAtras
{
    margin: 10px;
    font-size: 15px;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    margin-top: 20px;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    background-color: #1F293D; 
}
.asiento-card
{
    background-color: #F2C94C;
    color: #1F293D;
    align-content: center;
    margin: 10px;
    width: 200px;
    height: 30px;
    border-radius: 40px;
}
.mapa-asientos__datos{
    width: 100%;
}
.mapa-asientos__seleccionados
{
    margin: {
        bottom:20px;
        top: 20px;
    }
    display: grid;
    width: 100%;
    justify-content: center;
    justify-items: center;
    align-content: baseline;
}
#asientos-cards{
    display: grid;
}
@media screen and (min-width: 768px)
{
    .mapa-asientos__datos{
        display: flex;
        justify-content: center;
    }
    .mapa-asientos__seleccionados{
        width: 350px;
    }
    .mapa-asientos{
        height: 300px;
    }
    .mapa-asientos, .mapa-asientos__seleccionados{
        margin: 30px;
        place-content: center;
    }
}