@import '../base/variables';

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0F645C;
    color: #FFF;
    display: block;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Contenedor principal de las sesiones */
.container-sesiones {
    width: 100%;
    max-width: 1200px;
    padding: 1rem;
    background-color: #0F645C;
    border-radius: 10px;
    color: #FFF;
}

/* Estilo del header con título e imagen de la película */
.sesiones-pelicula {
    margin-bottom: 1.5rem;
}

.sesiones-pelicula h1 {
    font-size: 2.5rem;
    color: #FFB800;
    margin-bottom: 1rem;
}
.sesiones-info{
    display: grid;
    justify-items: center;
}

/* Controles para cambiar de día */
.session-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;

    button {
        background-color: transparent;
        border: 2px solid #FFB800;
        padding: 0.5rem;
        margin: 0 1rem;
        font-size: 1.5rem;
        cursor: pointer;
        border-radius: 5px;
        color: #FFB800;
        transition: background-color 0.3s, color 0.3s;

        &:hover {
            background-color: #FFB800;
            color: #0D3D3B;
        }
    }

    span {
        font-size: 1.2rem;
        margin: 0 1rem;
    }
}

/* Tarjetas de sesiones */
.sessions {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    // margin-bottom: 2rem;
}
#session-cards{
justify-items: center;}
.session-card {
    background-color: #1A535C;
    padding: 1rem;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 1.2rem;
    color: #FFF;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

        &:hover {
            transform: scale(1.05);
            background-color: #FFB800;
            color: #0D3D3B;
        }
    }
}

/* Botón de volver */
.back-button {
    background-color: #FFB800;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #0D3D3B;
    font-weight: bold;
    cursor: pointer;
    width: 120px;
    margin-top: 2rem;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: #E5A800;
}
@media screen and (min-width: 768px){
    .session-card{
        width: 320px;
    }
    #titulo-pelicula{
        font-size: 2em;
        width: 350px;
    }
    .container-sesiones{
        display: flex;
        justify-content: center;
        margin: 20px;
    }

}
@media screen and (min-width: 998px){
    .session-card{
        width: 550px;
    }

}